name: CI for Developers

on:
  pull_request:
    branches: [development]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0
          repository: notyumin/SimpCity
          token: ${{ secrets.NOTYUMIN_PAT }}

      - name: Setup Python 3.8 test
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest pytest-cov colorama pyfakefs
      - name: Label PR size
        uses: coverwallet/pr-labeler@v1.2.1
        with:
          xs_max_size: "10"
          s_max_size: "100"
          m_max_size: "500"
          l_max_size: "1000"
          exclude_files: ".txt"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Begin Pytest
        run: |
          pytest --cov -v --junitxml=report.xml --cov-report=xml
      - if: ${{failure()}}
        name: Create Issues
        uses: nashmaniac/create-issue-action@v1.1
        with:
          title: Build Failed
          token: ${{secrets.GITHUB_TOKEN}}
          assignees: ${{github.actor}}
          labels: workflow-failed
          body: Workflow failed for commit ${{github.sha}} @ ${{github.ref}}

      - name: Code Coverage
        uses: codecov/codecov-action@v2
        with:
          files: ./coverage.xml

      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action@v1.24
        if: always()
        with:
          github_token: ${{secrets.GITHUB_TOKEN}}
          files: report.xml

      - name: Format using black
        uses: rickstaa/action-black@v1
        id: action_black
        with:
          black_args: "."
      
      - name: Push formatted changes
        if: steps.action_black.outputs.is_formatted == 'true'
        run: |
            git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
            git config --local user.name "github-actions[bot]"
            git commit -am "Formatted code"
            git push origin HEAD:${{ github.head_ref }}
